*{
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 600px) {
    .homeContainer{
        margin: 0px 5px;
        position: absolute;
        bottom: 5px;
    }
   button{
    width: 97vw;
}

.HomePage_Btn{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  }
/* _________________________________homePage */
.Register_btn{
    margin: 0px 5px;
    position: absolute;
    bottom: 5px;   
}
.details_box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 5px;
}
/* ---------------------------------login */
.Login_details{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin: 10px 0px 10px 5px;
}
/* .................................................profile */
.profileDetails{
    display: flex;
    gap: 10px;
    margin: 20px 0px;
}